{% extends "base.html" %}

{% block head %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}


{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron bg-white">
	<h1 class="display-4 text-center">Marlan McInnes-Taylor</h1>
	<p class="lead text-center">Undergraduate Student | Aspiring AI Researcher</p>
	<hr class="my-4 bg-secondary">
	
	<p>
		I’m Marlan, a post-baccalaureate undergraduate senior at Florida State University where I study Computer Science and Applied Mathematics. I currently work as an undergraduate researcher with FSU's USER Lab.
	</p>

	<a class="btn btn-secondary" href="./about.html" role="button">About Me</a>
	
</div>

<div class="row">
	<div class="col-sm-6 overflow-auto">
		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/mmcinnestaylor?ref_src=twsrc%5Etfw">Tweets by
			mmcinnestaylor</a>
	</div>
	<div class="col-sm-6">
		<br class="d-md-none">
		<blockquote class="blockquote my-auto">
			<p class="mb-0 h4">Those who can imagine anything, can create the impossible.</p>
			<p class="blockquote-footer">Alan Turing</p>
		</blockquote>
		
		<blockquote class="blockquote my-auto">
			<p class="mb-0 h4">Success is not final, failure is not fatal: it is the courage to continue that counts.</p>
			<p class="blockquote-footer">Winston Churchill</p>
		</blockquote>
		
		<img class="img-fluid" src="https://boincstats.com/signature/-1/user/571340/sig.png" alt="MLC@Home Stats">
	</div>
</div>


{% endblock %}