{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1 class="mb-4">About</h1>

<p>
	Before studying Computer Science I received a B.A. in Philosophy from the University of Florida. I subsequently spent several years as an internal auditor at a financial institution, while also working as an IT contractor in my free time. 
</p>
<!-- <hr class="bg-dark w-75"> -->
<p>
	At Florida State University I study Computer Science and Applied Mathematics, pursuing B.S. degrees in both areas. I completed an undergraduate thesis under the supervision of <a href="https://www.cs.fsu.edu/department/faculty/shaiduc/" target="_blank" rel="external">Dr. Sonia Haiduc</a>, focusing on performing skin lesion classification using the Inception v3 CNN architecture. I am a member of FSU USER Lab, instructed by <a href="https://www.cs.fsu.edu/department/faculty/mills/" target="_blank" rel="external">Dr. Chris Mills</a>. Our research focuses on automating software tracibility link recovery. I also serve as an officer of FSU's ACM student chapter.
</p>
{% endblock %}