{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h2>About</h2>

<p>Hi, I’m Marlan, a post-baccalaureate undergraduate student at Florida State University. I am double majoring in
	Computer Science and Applied Mathematics. My primary interest is in pursuing research into Artificial Intelligence,
	specifically Artificial General Intelligence.</p>

<P>Before my time at FSU, I received a B.A. in Philosophy from the University of Florida, and spent several years as an
	internal auditor at a financial institution. My other interests include: national and international affairs,
	economics, Formula 1 racing, classical and jazz music, building and maintaining computer systems, and physics.</P>

{% endblock %}