{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1 class="mb-4">About</h1>

<p>
	Before studying Computer Science I received a B.A. in Philosophy from the University of Florida. I subsequently spent several years as an internal auditor at a financial institution, while also working as an IT contractor in my free time. 
</p>
<hr class="bg-dark w-75">
<p>
	At Florida State University I study Computer Science and Applied Mathematics, pursuing B.S. degrees in both areas. I completed an undergraduate thesis under the supervision of Dr. Sonia Haiduc, focusing on performing skin lesion classification using the Inception v3 CNN architecture. I currently work as an undergraduate researcher for FSU's USER Lab, where we work on utilizing word embeddings within a neural network to automate software tracibility link recovery. I also serve as an officer of FSU's ACM student chapter.
</p>
<hr class="bg-dark w-75">
<img class="py-2"src="https://boincstats.com/signature/-1/user/104359855040/sig.png" alt="MLC@Home Stats">
<p>
	My other interests include: national and international affairs, economics, Formula 1 racing, classical and jazz music, building and maintaining computer systems, and physics.
</p>
{% endblock %}