{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron bg-white">
	<h1 class="display-4 text-center">Marlan McInnes-Taylor</h1>
	<p class="lead text-center">Undergraduate Student | Aspiring AI Researcher</p>
	<hr class="my-4 bg-secondary">
	
	<p class="">
		I’m Marlan, a post-baccalaureate undergraduate senior at Florida State University where I study Computer Science and Applied Mathematics. I currently work as an undergraduate researcher with FSU's USER Lab.
	</p>

	<a class="btn btn-secondary" href="./about.html" role="button">About Me</a>
	
</div>
{% endblock %}