{% extends "base.html" %}

{% block title %}Teaching{% endblock %}

{% block content %}
<h1 class="mb-4">Teaching</h1>

<h4>2021</h4>
<div class="list-group mb-3">
	<div class="list-group-item flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">CGS 2100 Microcomputer Applications for Business and Economics</h5>
			<small class="text-muted">Spring</small>
		</div>
		<p class="mb-1">Undergraduate Teaching Assistant</p>
	</div>
</div>

<h4>2020</h4>
<div class="list-group mb-3">
	<div class="list-group-item flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">COP 3363 Programming I for Majors</h5>
			<small class="text-muted">Spring</small>
		</div>
		<p class="mb-1">Undergraduate Teaching Assistant</p>
	</div>
	<div class="list-group-item flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">CGS 2100 Microcomputer Applications for Business and Economics</h5>
			<small class="text-muted">Fall</small>
		</div>
		<p class="mb-1">Undergraduate Teaching Assistant</p>
	</div>
</div>

<h4>2019</h4>
<div class="list-group mb-3">
	<div class="list-group-item flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">COP 3014 Programming I for Non-Majors</h5>
			<small class="text-muted">Spring</small>
		</div>
		<p class="mb-1">Undergraduate Teaching Assistant</p>
	</div>
	<div class="list-group-item flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">COP 3014 Programming I for Non-Majors</h5>
			<small class="text-muted">Fall</small>
		</div>
		<p class="mb-1">Undergraduate Teaching Assistant</p>
	</div>
</div>

<h4>2018</h4>
<div class="list-group">
	<div class="list-group-item flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">CGS 2100 Microcomputer Applications for Business and Economics</h5>
			<small class="text-muted">Spring</small>
		</div>
		<p class="mb-1">Undergraduate Teaching Assistant</p>
	</div>
	<div class="list-group-item flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">COP 3014 Programming I for Non-Majors</h5>
			<small class="text-muted">Fall</small>
		</div>
		<p class="mb-1">Undergraduate Teaching Assistant</p>
	</div>
</div>

{% endblock %}